.app-login {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;

    .login-container {
        margin:0 auto;
        padding-top: 5%;
        max-width: 320px;
    }

    .input-row {
        display: flex;
        align-content: center;
        align-items: center;
        margin-bottom: 1em;

        &>label {
            min-width: 100px;
        }

        &>input {}

        .input-row-submit {
            flex:1;
            padding: 1em;
            width: 100%;
            background-color: #dadada;
            transition: background-color 0.25s ease;
            &:hover{
                background-color: #00A69C;
                cursor: pointer;
            }
        }
    }
}